*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #ff4154;
  --primary-yellow: #fed94c;
  --primary-blue: #001f33;
  --table-border: #eeeeee;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  padding: 2rem;
}
